/* @use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

@include textfield.core-styles; */
@import "@material/card/mdc-card";
body {
  font-family: sans-serif;
  background-color: lightgrey;
  background: url("citrusPic.jpg");
}

a {
  text-decoration: none;
}

label {
  display: block;
}
nav {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: right;
  padding-right: 50px;
}
.navItem {
  color: #b5838d;
  font-size: 20px;
}

nav a {
  align-items: center;

  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restaurant-container {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.restaurant {
  margin: 10px;
  width: 400px;
  height: 600px;
  border: 10px;
}
.singleFoodItem {
  margin: 10px;
  width: 400px;
  padding: 0px;

  border: 10px;
}

.singleRestaurant {
  margin: 10px;
  /* width: 50%;
  height: 100%; */
  justify-content: center;
  align-items: stretch;
}

.my-card-content {
  padding: 16px;
}
.restaurant-text {
  color: #b5838d;
}
#headder {
  color: #000;
  display: flex;
  justify-content: center;
}
#ddm {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
.review {
  justify-content: center;
  margin: 10px;
  width: 75%;
}
.dataChart {
  background-color: white;
}
